<template>
  <div>
    <v-layout :wrap="true">
      <v-flex xs12>
        <v-card>
          <v-date-picker
            v-model="fecha"
            full-width
            color="secondary"
            locale="es-co"
            :min="minimo"
            :max="maximo"
            @change="getDolar(fecha)">
            </v-date-picker>          
        </v-card>
        <v-card color="secondary" dark>
          <v-card-text class="display-1 text-xs-center"> {{valor}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>  
  import axios from "axios";
  import { mapMutations } from "vuex";
  
  export default {    
      data(){
        return {
          fecha: '',
          minimo: '1984',
          maximo: '',
          valor: null,        
        }
      },      
      methods:{
        ...mapMutations(['mostrarLoading','ocultarLoading']),
        async getDolar(dia){          
          let arrayFecha = dia.split('-');          
          let ddmmyy = arrayFecha[2]+'-'+arrayFecha[1]+'-'+ arrayFecha[0];
          console.log(ddmmyy);
          try {
            this.mostrarLoading({titulo: 'Accediendo a la informcion', color: 'secondary'});
            let datos = await axios.get(`https://mindicador.cl/api/dolar/${ddmmyy}`);
            if(datos.data.serie.length > 0)
              this.valor = await datos.data.serie[0].valor;
            else
              this.valor = 'Sin resultados';
          } catch (error) {
            console.log(error);
          }finally{
           this.ocultarLoading(); 
          }
        }
      },
      created(){
        let date = new Date();
        date.setHours(date.getHours() - 5 ); //Se le esta restando 5 horas para que sea la hora de colombia.          
        let result = date.toISOString().substr(0,10);
        this.maximo = result;
        this.fecha = result;
        this.getDolar(this.fecha);
      }
  }
</script>
