<template>
  <v-app>
    <v-content>
      <v-container>        
        <h1 class="font-weight-light">Valor del dolar<v-icon>event</v-icon></h1>
        <router-view/>
        <Loading/>
      </v-container>      
    </v-content>
  </v-app>
</template>

<script>

import Loading from '@/components/Loading.vue'

export default {
  name: 'App',
  components:{
    Loading
  },
  data () {
    return {
      //
    }
  }
}
</script>
